<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body style="background: white; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <h1>Homepage</h1>
</body>
</html>


<form action="/cart/add" method="POST">
    <input type="hidden" name="id" value="1">
    <input type="hidden" name="name" value="Shrimp Fried Rice">
    <input type="hidden" name="price" value="5">
    <button>Add to cart</button>
</form>
