<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body style="background: white; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <h1>Homepage</h1>
</body>
</html>
